<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=
  , initial-scale=1.0">
  <title>Crus NodeJS Expres</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
  <header>
    <nav></nav>
  </header>

  <main>
    <section>
      <div class="container mt-3">
        <div class="card">
          <div class="card-header">
            <a href="./create"class="btn btn-sm btn-primary">Registrar</a>
          </div>
          <div class="card-body">
            <table class="table table-sm table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Director</th>
                  <th>Genero</th>
                  <th>Año</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <% peliculas.forEach(pelicula => { %>
                  <tr>
                    <td><%= pelicula.idpelicula %></td>
                    <td><%= pelicula.titulo %></td>
                    <td><%= pelicula.director %></td>
                    <td><%= pelicula.genero %></td>
                    <td><%= pelicula.anio %></td>
                    <td>
                      <a href="./edit/<%= pelicula.idpelicula %>" class="btn btn-sm btn-info">Editar</a>
                      <a href="./delete/<%= pelicula.idpelicula %>" data-pelicula="<%= pelicula.titulo %>" class="btn btn-sm btn-danger delete">Eliminar</a>
                    </td>
                  </tr>
                 
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </section>
  </main>
  <script>
   const enlaces = document.querySelectorAll(".delete");
    enlaces.forEach(element => {
      element.addEventListener("click", (event) => {
        event.preventDefault();

        const nombrePelicula = event.target.getAttribute('data-pelicula');
        const ruta = event.target.getAttribute('href');

        if (confirm(`¿Está seguro de eliminar la película "${nombrePelicula}"?`)) {
          window.location.href = ruta;
        }
      });
    });

  </script>
  
</body>
</html>